<div id="feedback" class="mobile">
        <div id="feedbackPage">
            <p id="pAppName">&nbsp </p>
        </div>
        @*<img src="@Url.Content("~/Content/13feedback.png")" style="padding: 30px;"/>*@
    </div>
    @*<div class="fl" >
        <img src="@Url.Content("~/Content/13feedback.png")" style="padding: 30px;"/>
       
     </div>*@