<div id="loginMobile" class="mobile">
    <div id="loginPageMobile" >
        <img id="appLogoLeft" style="" alt="Main Logo" src="~/Content/Logo.png" />

        <video id="appVideoLeft" controls="controls" poster="~/Content/Logo.png">
        </video>
        <p id="pAppName">My Sample App </p>
        <input class="einputRefined" type="text" />
        <input id="btnGo" class="awe-btn" type="button" title="Go" value="Go" onclick="location.href='@Url.Action("Index", "Application")    '" />
        <h2 id="labelOr">or</h2>
        <input id="btnLoginFB" class="awe-btn" type="button" title="Login with your Facebook account" value="Login with your Facebook account" onclick="location.href='@Url.Action("Index", "Application")    '" />
        <p id="pRegNewApp">New User <a href="#">Register</a> here</p>
    </div>
</div>

