<div id="termsCondition" class="mobile">
        <div id="termsConditionPage">
            <p id="pAppName">&nbsp </p>
        </div>
        @*<img src="@Url.Content("~/Content/12termcondition.png")" style="padding: 30px;"/>*@
    </div>
    @*<div class="fl" >
        <img src="@Url.Content("~/Content/12termcondition.png")" style="padding: 30px;"/>
       
     </div>*@