<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    
    
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <machineKey decryption="AES" decryptionKey="F7FA540B4DFD82E5BB196B95D15FF81F8ED6F9ED1B13C924BC51C0EEA783A529" validation="SHA1" validationKey="8ED6F9ED1B13C924BC51C0EEA783A529B63DB1B89DE62168764FF0DCE537184F0535D5D9AD66DEDC8ED6F9ED1B13C924BC51C0EEA783A529B63DB1B897DC1ABF" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
<!--  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          ~1~ To avoid disclosing metadata information, set the value below to false before deployment @1@
          <serviceMetadata httpGetEnabled="true" />
          ~1~ To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information @1@
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
  </system.serviceModel>-->
  <system.serviceModel>

    <!--Behaviors here.-->
    <behaviors>
      <endpointBehaviors>
        <behavior name="defaultEndpointBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--End of Behaviors-->

    <!--Services here-->   
<!--   <services>
      <service name="AwWcfDataService">
        <endpoint address="UserService" behaviorConfiguration="defaultEndpointBehavior"
          binding="webHttpBinding" contract="MyWcf.Services.IUserService" />
      </service>
    </services>-->

    <!--End of Services-->

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name=""
                          helpEnabled="true"
                          automaticFormatSelectionEnabled="true"
                          defaultOutgoingResponseFormat ="Json"
                          crossDomainScriptAccessEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings>
   <add name="dbDFrontierAppWizardEntities" connectionString="metadata=res://*/AppWiz.csdl|res://*/AppWiz.ssdl|res://*/AppWiz.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=o7vfsq0dru.database.windows.net;initial catalog=dbDFrontierAppWizard;user id=appwiz;password=qwerty1!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--  <add name="dbDFrontierAppWizardEntities1" connectionString="metadata=res://*/AppWiz.csdl|res://*/AppWiz.ssdl|res://*/AppWiz.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=o7vfsq0dru.database.windows.net;initial catalog=dbDFrontierAppWizard;user id=appwiz;password=qwerty1!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="dbDFrontierAppWizardEntities" connectionString="metadata=res://*/AppWiz.csdl|res://*/AppWiz.ssdl|res://*/AppWiz.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=dbDFrontierAppWizard;user id=sa;password=luvgalgal8;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>