<div id="loyalty" class="mobile">
        <div id="loyaltyPage">
            <p id="pAppName">&nbsp </p>
        </div>
        @*<img src="@Url.Content("~/Content/11memberclubmonthycontest.png")" style="padding: 30px;"/>*@
    </div>
    @*<div class="fl" >
        <img src="@Url.Content("~/Content/11memberclubmonthycontest.png")" style="padding: 30px;"/>
       
     </div>*@