<div id="productDetail" class="mobile">
        <div id="productPageDetail">
            <p id="pAppName">&nbsp </p>
        </div>
        @*<img src="@Url.Content("~/Content/51foodInfo.png")" style="padding: 30px;"/>*@
    </div>
  @*  <div class="fl" >
        <img src="@Url.Content("~/Content/51foodInfo.png")" style="padding: 30px;"/>
       
     </div>*@